<!DOCTYPE html>
<html lang="en">
<head>
	<title>Findea</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.png" type="image/png" >

      

	<link rel="stylesheet" href="/css/landing/grid.css">
	<link rel="stylesheet" href="/css/landing/style.css">

      

	<link rel="stylesheet" href="/css/landing/mailform.css"/>
	<link rel="stylesheet" href="/css/landing/jquery.fancybox.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">

	<script src="/js/landing/jquery.js"></script>
	<script src="/js/landing/jquery-migrate-1.2.1.js"></script>



  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src='/js/landing/device.min.js'></script>

    <style>
        .landing-input{
            font: 700 18px/35px "Montserrat", sans-serif;
            border: none;
            background-color: white!important;
            border-radius: 25px!important;
            display: inline-block!important;
            vertical-align: top!important;
            height: 45px;
            margin: 3px;
        }
        .landing-input.categoria{
            padding: 10px 18px;
            /*width: 200px;*/
            width: 320px;
        }
        .landing-input.fecha{
            padding: 5px 25px;
            width: 160px;
            text-align: center;
        }
        .landing-input.direccion{
            padding: 5px 25px;
            /*width: 280px;*/
            width: 370px;
            text-align: left;
        }
        .jumbo-wrap{
            min-width: 890px
        }
        @media screen and (max-width: 890px){
            .jumbo-wrap{
                min-width: auto
            }
        }
        @media screen and (max-width: 768px){
            .landing-input{
                width: 100%!important;
                text-align: center!important;
                margin-top: 5px;
            }
            #buscar{
                margin-top: 10px!important;
            }
        }
        @media screen and (min-width: 1485px){
            .landing-input.direccion{
                width: 430px;
            }
        }
        #buscar{
            padding: 5px 30px;
            margin: 3px;
        }

    </style>
</head>
<body>
	<div class="page">
    <!--========================================================
      HEADER
      =========================================================-->
    <header class="page vide wow fadeIn afternoon" data-vide-bg="/video/video-bg" data-wow-duration='5s'>
      	<span class="overlay"></span>

      	<div class="container" style="width: 100%">
      		<div class="row">
            <div class="col-md-6">
              <div class="banner">
                  <a href="./"><img src="/images/findea-verdeoscuro.png" alt="" width="200"></a>
                  <p class="brand_slogan">
                    Tu espacio. Tu Manera.
                  </p>
                
                <!-- <ul class="inline-list">
                  <li><a href="https://www.facebook.com/findeaoficial" class="fa-facebook" target="_blank"></a></li>
                  <li><a href="https://twitter.com/findea_" class="fa-twitter" target="_blank"></a></li>
                  <li><a href="#" class="fa-google-plus"></a></li>
                </ul> -->
              </div>
            </div>
            <div class="col-md-6">
              
              <ul class="nav-wrap">
                  <li><a class="registro_espacio" href="/espacio/registro">Registra tu espacio</a></li>
                  {?session}
                    <li>
                      <div class="wrapper_img_usuario small"aria-hidden="false">
                        <img src="{?session.perfil_individual.foto}
                                    {session.perfil_individual.foto}
                                  {:else}
                                    {?session.perfil_individual.facebook}
                                      http://graph.facebook.com/v2.5/{session.perfil_individual.facebook.id}/picture?width=100&height=100
                                    {:else}
                                      /img/defaultAvatar.png
                                    {/session.perfil_individual.facebook}
                                  {/session.perfil_individual.foto}" alt="" />
                      </div>
                    </li>
                  {:else}

                    <li><a href="/usuario/registro">Registro</a></li>
                    <li><a href="/login">Login</a></li>
                  {/session}
                
              </ul>
            </div>
      			<div class="col-md-offset-1 col-lg-offset-2 col-sm-12 col-md-10 col-lg-8 col-xs-12 jumbo-wrap">
              <br>
      				<!-- <div class="banner">
                                <a href="./"><img src="/images/findea-verdeoscuro.png" alt="" width="220"></a>
                                <p class="brand_slogan">
                                  Tu espacio. Tu Manera.
                                </p>
                              
                              <ul class="inline-list">
                                <li><a href="https://www.facebook.com/findeaoficial" class="fa-facebook" target="_blank"></a></li>
                                <li><a href="https://twitter.com/findea_" class="fa-twitter" target="_blank"></a></li>
                                <li><a href="#" class="fa-google-plus"></a></li>
                              </ul>
                            </div> -->
			<h2 style="text-align: center;">Compartir espacio es bueno.</h2>
      <br>
      <br>
				<!--<p>Web dedicada a la conexión de arrendadores y arrendatarios. </p>-->
					<!-- <a class="btn" href="#">¿Cómo usar?</a> -->
          <form id="buscar_form" style="width: 100%; margin-top: 20px; text-align: center">
                <select id="categoria" class="form-control select select-primary select-block mbl landing-input categoria" required="required" placeholder="Categoría" style="text-align: center">
                      <!-- <option value="0">My Profile</option>
                      <option value="1">My Friends</option>
                      <option value="2">Messages</option>
                      <option value="3">My Settings</option>
                      <option value="4">Logout</option> -->
                      <option disabled selected> Quiero usar el espacio para </option>
                      {#usos}
                            <option value="{nombre}">{nombre}</option>
                      {/usos}
                </select>
                <!-- <input type="text" id="datepicker" class="landing-input fecha" required="required" placeholder="Fecha" /> -->
                <input id="direccion" type="text" name="direccion" class="landing-input direccion" required="required" placeholder="¿ En donde buscar ?" />

                <button id="buscar" class="btn">buscar</button>
          </form>
				</div>
			</div>
		</div>
	</header>
    <!--========================================================
                              CONTENT
                              =========================================================-->
      <main>
      <section class="well2">
      <div class="container">
      <div class="row ">
      <div class=" col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 col-xs-12 ">
      <h3 class="wow fadeInUp" data-wow-delay="0.2s"> ¿Qué es Findea?</h3>

      <p class="wow fadeInUp" data-wow-delay="0.4s">Findea es una plataforma que conecta a las personas que necesitan un espacio para eventos sociales, reuniones de trabajo, estudios especializados y estacionamiento para vehículos con los propietarios de dichos espacios, respondiendo a su necesidad minimizando tiempo en la búsqueda, costo asequible con opción a más alternativas de forma rápida y sencilla, generando además un ingreso extra para los propietarios.</p>
      </div>
      </div>
      </div>
      </section>



      <section class="well bg-primary">
      <div class="container">

      <div class="row">
      <div class=" col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 col-xs-12 ">
      <h3>¿Qué ofrecemos?</h3>
      <ul class="features-list">

      <li class="wow fadeInUp" data-wow-delay="0.1s">
      <h4 class="material-icons-people"><a href="#">Creado por la comunidad</a></h4>

      <p>Findea se basa en la reputación otorgada por la comunidad, así que la reputación de los usuarios dependerá de otros usuarios como tú.</p>
      </li>
      <li class="wow fadeInUp" data-wow-delay="0.3s">
      <h4 class="material-icons-payment"><a href="#">Aceptamos todo medio de pago</a></h4>

      <p>Podrás pagar el alquiler de tu espacio con tarjeta de crédito, débito, transferencia bancaria, o como mejor te parezca.</p>
      </li>


      <li class="wow fadeInUp" data-wow-delay="0.5s">
      	<h4 class="material-icons-phonelink"><a href="#">Desde cualquier lugar</a></h4>

      	<p>Puedes acceder a Findea desde tu PC, tablet o celular.</p>
      	</li>
      	<li class="wow fadeInUp" data-wow-delay="0.5s">
      	<h4 class="material-icons-attach_money"><a href="#">Una manera fácil de ahorrar y obtener dinero.</a></h4>

      	<p>Con Findea podrás no solo tener un ingreso extra rentabilizando espacios no utilizados, sino también podrás encontrar el mejor precio cuando quieras alquilar.</p>
      	</li>
      	
      </ul>
      </div>
      </div>
      </div>
      </section>
      <!-- 	<section class="well2">
      <div class="container">
      <div class="row off">
      <div class=" col-sm-offset-2 col-md-offset-2 col-sm-4 col-md-4 col-xs-6 ">
      <h3>Your Videos</h3>
      </div>
      </div>
      <div class="row">
      <div class=" col-sm-offset-2 col-md-offset-2 col-sm-4 col-md-4 col-xs-6 ">
      <a href="//player.vimeo.com/video/37582125?wmode=transparent" data-wow-duration="1s"
      class="thumb fancybox.iframe"><img src="images/page-1_img01.jpg" alt=""><span
      class="thumb_overlay"></span></a>
      <h4><a href="#">Video name 1</a></h4>

      <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.</p>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-6">
      <a href="//player.vimeo.com/video/37582125?wmode=transparent" data-wow-duration="1s"
      class="thumb fancybox.iframe"><img src="images/page-1_img02.jpg" alt=""><span
      class="thumb_overlay"></span></a>
      <h4><a href="#">Video name 2</a></h4>

      <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.</p>
      </div>
      </div>
      <div class="row">
      <div class=" col-sm-offset-2 col-md-offset-2 col-sm-4 col-md-4 col-xs-6 ">
      <a href="//player.vimeo.com/video/37582125?wmode=transparent" data-wow-duration="1s"
      class="thumb fancybox.iframe"><img src="images/page-1_img03.jpg" alt=""><span
      class="thumb_overlay"></span></a>
      <h4><a href="#">Video name 3</a></h4>

      <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.</p>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-6">
      <a href="//player.vimeo.com/video/37582125?wmode=transparent" data-wow-duration="1s"
      class="thumb fancybox.iframe"><img src="images/page-1_img04.jpg" alt=""><span
      class="thumb_overlay"></span></a>
      <h4><a href="#">Video name 4</a></h4>

      <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.</p>
      </div>
      </div>
      </div>
      </section>

      <section class="well bg-primary">
      <div class="container">
      <div class="row ">
      <div class=" col-sm-offset-2 col-md-offset-2 col-sm-7  col-md-7 col-xs-12 ">
      	<h3> Affordable Packages</h3>

      	<div class="box">
      		<div class="box_aside wow fadeInLeft" data-wow-delay="0.1s">
      			$19
      		</div>
      		<div class="box_cnt__no-flow wow fadeInRight" data-wow-delay="0.2s">
      			<h4><a href="#">Package 1</a></h4>

      			<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
      				incididunt ut .</p>
      			</div>
      		</div>
      		<div class="box">
      			<div class="box_aside wow fadeInLeft" data-wow-delay="0.3s">
      				$49
      			</div>
      			<div class="box_cnt__no-flow wow fadeInRight" data-wow-delay="0.4s">
      				<h4><a href="#">Package 2</a></h4>

      				<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
      					incididunt ut .</p>
      				</div>
      			</div>
      			<div class="box">
      				<div class="box_aside wow fadeInLeft" data-wow-delay="0.5s">
      					$99
      				</div>
      				<div class="box_cnt__no-flow wow fadeInRight" data-wow-delay="0.6s">
      					<h4><a href="#">Package 3</a></h4>

      					<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor
      						incididunt ut .</p>
      					</div>
      				</div>
      			</div>
      		</div>
      	</div>
      </section> -->
      <section class="page vide wow fadeIn well3" data-vide-bg="video/video-bg2" data-wow-duration='5s'>
      	<div class="container">
      		<div class="row">
      			<div class="col-sm-offset-2 col-md-offset-2 col-sm-8  col-md-8 col-xs-12 ">
      				<h3>¡Suscribete!</h3>

      				<p>Dejanos tu correo para mantenerte al tanto de las ultimas novedades: </p>

      					<form method="post" action="/mail/subscribe" class="mailform">
      						<input type="hidden" name="form-type" value="contact" />
      						<fieldset>

      							<label data-add-placeholder="true">
      								<input type="text" name="email" placeholder="Tu E-mail:"
      								data-constraints="@Email @NotEmpty" />
      							</label>

      							<div class="mfControls center">
      								<button type="submit" class="btn"> Subscribe</button>
      							</div>
      						</fieldset>
      					</form>
      				</div>
      			</div>
      		</div>
      	</section>
      </main>

    <!--========================================================
                              FOOTER
                              =========================================================-->
                              <footer class="bg-primary">
                                    <br><br>
                              	<div class="container">
                              		<div class="row">
                              			<div class=" col-sm-offset-2 col-md-offset-2 col-sm-8  col-md-8 col-xs-12 ">

                              				<div class="copyright">
                              					<h1><a href="./"><img src="images/findea-verdeoscuro.png" alt="" width="70"></a></h1> © <span id="copyright-year"></span> All Rights Reserved
                              				</div>
                              				<ul class="inline-list">
                              					<li><a href="https://www.facebook.com/findeaoficial" class="fa-facebook"></a></li>
                              							<li><a href="https://twitter.com/findea_" class="fa-twitter"></a></li>
                              					<!-- <li><a href="#" class="fa-google-plus"></a></li> -->
                              				</ul>
                              			</div>
                              		</div>
                              	</div>
                              </footer>
                          </div>

                          <script src="/js/landing/script.js"></script>
                          <script>
                              $(function() {
                                    /*$( "#datepicker" ).datepicker();*/
                                    $("#buscar_form").on('submit', function (event) {
                                        var categoria = $("#categoria").val();
                                        /*var date = $("#datepicker").datepicker("getDate");*/
                                        var direccion = $("#direccion").val();

                                        var url = '/buscar?uso=' + encodeURI(categoria) + '&direccion=' + encodeURI(direccion);
                                        console.log("url", url);
                                        window.location = url;
                                        event.preventDefault();
                                        return false;
                                    });
                              });
                          </script>
                          <!--coded by united-->
                      </body>
                      </html>